on post-fs
    wait /dev/block/mmcblk0p2
    start tad
    exec /sbin/wait4tad

    start rmt_storage
    start ta_rmt_service

service tad /sbin/tad /dev/block/mmcblk0p2 0,16,256
    class trimarea
    user root
    group root
    socket tad stream 0660 system system
